  .nav-main {   
    z-index: 9999;
    width: 100%;
    margin-left: 45%;
  }
  
  .nav a {
      font-size: 20px;
      font-weight: 550;
      letter-spacing: 0;
  }
  
  nav {
      background-color: rgb(18, 187, 3);
  }

  .clublogo {
      font-size: 30px;
  }

  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
    
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 200px;
  }
  
  .nav-link {
      color:white;
      font-size:30px;
      margin: 0 20px;
  }
  
  
  .nav-item :hover {
      color: grey;
  }
  
  .container-full {
      margin:0;
      padding:0;
      width: 100%;
  }
  
  #welcomePic {
      max-width: 100%;
      height: auto;
      opacity: 0.85;
  }
  
  .nameTag {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 90px;
  }
  
  @media only screen and (max-width: 1200px){
      .nameTag {
          top: 20%;
          left: 50%;
          font-size: 60px
      }
  }
  
  
  
  .pageTag {
      width: 230px;
      height: 80px;
      padding: 25px;
      font-size: 30px;
  }
  
  .aboutMeContent {
      margin-top: 150px;
  }
  
  .aboutMeText {
      font-size: 20px;
      letter-spacing: 0.6px;
  }
  
  .contentPage {
      margin-top: 100px;
      padding: 100px 15%;
      min-height: 1000px;
  }
  
  .portfolioPage {
      background: rgb(235, 235, 235);
  }
  
  .flex-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
  }
  
  .flex-gallery > a {
    background-color: #f1f1f1;
    width: 300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    text-decoration: none;
    color: gray;
  }
  
  .projBlock > p {
      height: 60px;
      font-size: 22px;
  }
  
  .projPic {
      max-width:100%;
      max-height:100%;
  }
  
  .contactPage {
      min-height: 800px;
  }
  
  .contactForm {
      margin-top: 100px;
  }
  
  .myFooter {
      width: 100%;
      min-height:150px;
      background: rgb(219, 219, 219);
      padding: 10px;
  }
  
  .icons {
      position: absolute;
      left:44%;
  }
  
  i {
      margin: 20px;
      text-align: center;
      text-decoration: none;
      color: gray;
  }
  
  .fab:hover {
      color:rgb(73, 73, 73);
  }

  .page-contents {
      margin: 0 20% 0 20%;
      height: 100vh;
      background-color: #5f5f5f;
  }
  
  body {
      background-image: url('../images/Pepega-Gif.gif');
      background-repeat: repeat;
  }

  .intro-block {
      background-color: rgb(23, 23, 23);
      height: 70vh;
      padding: 0 10% 10% 10%;
  }
  
  .home-page-intro {
    color:white;
    font-size: 1.5em;
    margin-left: 4%;
    margin-right: 50%;
    font-weight: 600;
  }